@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* CSS VARIABLES */
:root {
  /* COLORS */
  --color-primary: hsl(179, 62%, 43%);
  --color-secondary: hsl(71, 73%, 54%);
  --card-color: hsl(204, 43%, 93%);
  --head-text-color: hsl(218, 22%, 67%);
}

/* utitlity classes */
.mb-medium {
  margin-bottom: 1.2rem;
}

.mb-small {
  margin-bottom: 0.5rem;
}

/* media-queries */
/* GLOBAL SETTINGS */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 37.5%;
  }
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  line-height: 1.6;
  background-color: hsl(210, 64%, 95%);
}
@media only screen and (max-width: 25em) {
  body {
    padding: 3rem;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* footer styling */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-primary);
}

.container {
  /* top part */
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.174);
  /* center container */
  margin: 15rem auto;
  /* media-query */
  /* left */
  /* right */
}
@media only screen and (max-width: 25em) {
  .container {
    grid-template-columns: 1fr;
  }
}
.container__top {
  grid-area: 1/1/2/-1;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  /* media-query */
}
@media only screen and (max-width: 25em) {
  .container__top {
    grid-area: 1/1/2/-1;
  }
}
.container__top--heading {
  color: var(--color-primary);
}
.container__top--sub-heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.container__top--description {
  color: var(--head-text-color);
}
.container__left {
  grid-area: 2/1/3/2;
  background-color: var(--color-primary);
  padding: 3rem;
  border-bottom-left-radius: 0.5rem;
  color: hsl(204, 43%, 93%);
  /* media-query */
}
@media only screen and (max-width: 25em) {
  .container__left {
    grid-area: 2/1/3/-1;
  }
}
.container__left--heading {
  font-size: 2rem;
  font-weight: 700;
}
.container__left--pricing__price {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.container__left--pricing__per {
  color: hsla(203, 44%, 93%, 0.619);
}
.container__left--btn {
  border: none;
  width: 100%;
  padding: 1.2rem;
  font-weight: 700;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  margin-top: 1.2rem;
  color: hsl(204, 43%, 93%);
  box-shadow: 0 1.5px 10px 2px rgba(0, 0, 0, 0.174);
  /* media-query */
}
@media only screen and (max-width: 25em) {
  .container__left--btn {
    width: 50%;
  }
}
@media only screen and (max-width: 18.75em) {
  .container__left--btn {
    width: 100%;
  }
}
.container__right {
  grid-area: 2/2/3/-1;
  background-color: hsla(179, 62%, 43%, 0.801);
  padding: 3rem;
  padding-right: 6rem;
  border-bottom-right-radius: 0.5rem;
  color: hsl(204, 43%, 93%);
  /* media-query */
}
@media only screen and (max-width: 25em) {
  .container__right {
    grid-area: 3/1/4/-1;
    padding-right: 12rem;
  }
}
.container__right--heading {
  font-size: 2rem;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
