@use "../sass/base.scss" as var1;

.container {
  /* top part */
  max-width: 60rem;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* center container */
  margin: 15rem auto;
  // margin

  /* media-query */
  @media only screen and (max-width: var1.$bp-phone) {
    grid-template-columns: 1fr;
  }

  &__top {
    grid-area: 1/1/2/-1;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.5rem;
    position: relative;
    /* media-query */
    @media only screen and (max-width: var1.$bp-phone) {
      grid-area: 1/1/2/-1;
    }
    &--heading {
      color: var(--color-primary);
    }
    &--sub-heading {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--color-secondary);
    }
    &--description {
      color: var(--head-text-color);
    }
  }

  /* left */
  &__left {
    grid-area: 2/1/3/2;
    background-color: var(--color-primary);
    padding: 3rem;
    border-bottom-left-radius: 0.5rem;
    color: hsl(204, 43%, 93%);
    /* media-query */
    @media only screen and (max-width: var1.$bp-phone) {
      grid-area: 2/1/3/-1;
    }
    &--heading {
      font-size: 2rem;
      font-weight: 700;
    }
    &--pricing {
      &__price {
        font-size: 3rem;
        font-weight: 700;
        margin-right: 0.5rem;
      }
      &__per {
        color: hsla(203, 44%, 93%, 0.619);
      }
    }
    &--btn {
      border: none;
      width: 100%;
      padding: 1.2rem;
      font-weight: 700;
      background-color: var(--color-secondary);
      border-radius: 0.5rem;
      margin-top: 1.2rem;
      color: hsl(204, 43%, 93%);
      box-shadow: 0 1.5px 10px 2px rgba(0, 0, 0, 0.174);
      /* media-query */
      @media only screen and (max-width: var1.$bp-phone) {
        width: 50%;
      }
      @media only screen and (max-width: var1.$bp-small-phone) {
        width: 100%;
      }
    }
  }

  /* right */
  &__right {
    grid-area: 2/2/3/-1;
    background-color: hsla(179, 62%, 43%, 0.801);
    padding: 3rem;
    padding-right: 6rem;
    border-bottom-right-radius: 0.5rem;
    color: hsl(204, 43%, 93%);
    /* media-query */
    @media only screen and (max-width: var1.$bp-phone) {
      grid-area: 3/1/4/-1;
      padding-right: 12rem;
    }
    &--heading {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
